@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed');

/*
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
*/

* {
    font-family: 'Ubuntu', sans-serif;
}

table {
    width: 100%;
}


.Menu{
    text-emphasis: emphasis 46px;
    text-align: left;
    font-size: 25px;
}

#Cabecera{
    background-color: #51e63c;
    border-color: aqua;
    padding: 20px;
    padding-top: 1px;
}

.Presentacion{
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.Introduccion {
    font-size: 15px;
    text-align: center;
    color: white;
}

#buscador {
    background-color: white;
    width: 520px;
    border: 10px;
    padding: 40px;
    margin: 50px;
}

#footer {
    background-color:#388e3c;
}

.Empresa {
    color:white;
    background-position: left;
    width: 420px;
    border: 10px;
    padding: 60px;   
}

.TablaPedidos {
    background-color: #51e63c;
    background-position: right;
    width: 520px;
    border: 10px;
    padding: 40px;
    margin: 50px;
}

